@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-supreme: var(--font-supreme);
}

*,
*::before,
*::after {
  cursor: url("/cursor.png") 5 2, auto;
}

*:active {
  cursor: url("/cursor-active.png") 5 2, auto;
}